.window{
    width: 400px;
    height: 300px;
    margin: 20px auto; 
    overflow: hidden;
    box-sizing: border-box;
    
}
.images{
    position:relative;
}
.images>img{
    transition:all 0.5s;
}
.images>img:nth-child(1){
    position: absolute;
    top: 0px;
}
.images>img:nth-child(2){
    position: absolute;
    top: 0px;
    left: 100%;
}
.images>img:nth-child(3){
    position: absolute;
    top: 0px;
    left: 100%;
}
.images>img.right{
    position: absolute;
    top: 0px;
    left: 100%;

}