.window{
    width: 400px;
    height: 300px;
    margin: 20px auto; 
    overflow: hidden;
    box-sizing: border-box;
    
}
.images{
    position:relative;
}
.images>img{
    transition:0.5s;
    position: absolute;
    top:0;
}
img.current{
    left:0;
    transform: translateX(0);
    z-index: 1;
}
img.leave{
    transform:translateX(-100%);
    z-index: 1;
}
img.enter{
    transform:translateX(100%);
}